.contact-page {
    padding-bottom: 50px;
    overflow-x: hidden;
}
.contact-page :is(input , textarea){
    font-size: 1rem;
}
.contact-page button{
    font-size: 1rem;
}
.info-form{
    display: grid;
    grid-template-columns: 30% calc(70% - 20px);
    gap: 20px;
}
.contact-info{
    display: flex;
    flex-direction: column;
}

.contact-info > :is(h2,p,div){
    margin-bottom: 20px;
}
.contact-info > h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em;
}
.contact-info > p {
    font-weight: 400;
}
.contact-info > div {
    display: flex;
    gap: 15px;
}
.contact-info > div > svg {
    fill : var(--color2) ;
}
.contact-info > div > div h3 {
    color: var(--color17);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 400;
}
.contact-info > div > div p {
    font-weight: 500;
}

.contact-info .social-icons{
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}

.social-icons a  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color15);
    border-radius: 50%;
    transition: background-color .5s ease;
}

.social-icons a.facebook:hover {
    background-color: #1684f3  ;
}
.social-icons a.linkedin:hover {
    background-color: #044b91  ;
}
.social-icons a.youtube:hover {
    background-color: red;
}
.social-icons path {
    fill: white;   
}
/* end info section */

/* start form */
.contact-form{
    display: grid;
    gap: 15px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
}
.contact-form > div {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.contact-form  input{
    height: 50px ;
}

.contact-form  textarea{
    min-height: 200px ;
}
.contact-form :is(input,textarea){
    background-color: var(--color13);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    caret-color: var(--color2);
}
.contact-form :is(input,textarea):focus{
    border: 1px solid var(--color2);
}
.contact-form :is(input,textarea)::placeholder{
    text-transform: uppercase;
}

@media(max-width:768px){
    .contact-form > div {
        display: grid;
        grid-template-columns: 100%;
        gap: 15px;
    }
}
@media(max-width:992px){
    .info-form{
        padding-bottom: 50px;
    }
    .info-form{
        grid-template-columns: 100%;
    }
}
/* end form */