.panel-content{
    padding-left: 20%;
    overflow-x: hidden;
}
.panel-content :is(input , select,button){
    font-size: 1rem;
    border: none;
}

.panel-content :is(h2 , h3) {
    text-align: center;
}
.panel-content h2 {
    font-size: 1.7rem;
    font-weight: 700;
}
.panel-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
@media(max-width:992px){
    .panel-content{
        padding: 0;
        padding-bottom: 100px;
    }
}
.panel-personal-info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin: auto;
}

.panel-personal-info label{
    color: var(--color14);
}
.panel-personal-info input {
    margin-top: 3px;
}

@media(max-width:992px){
    .panel-personal-info{
        width: 100%;
        padding: 10px;
    }
}

